 @model ManagePassword.Models.UserLoginModel

            @{
    ViewBag.Title = "UserLogin";
}

<h2>Login</h2>

@if (ViewBag.Alert != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.Alert
</div>
}
@if (ViewBag.Status == null || !ViewBag.Status)

{

    <div>@ViewBag.Message</div>

    <div>

        @using (Html.BeginForm())

        {
            <div class="loginCard" >
                   <div class="form-group">

                <label for="Username">Username : </label>

                @Html.TextBoxFor(a => a.Username, new { @class =

        "form-control"})

            </div>

            <div class="form-group">

                <label for="Password">Password : </label>

                @Html.TextBoxFor(a => a.Password, new {

        @class="form-control", type="password"})

            </div>

            <input type="submit" value="Login" class="btn btn-dark btn-sm" >

            </div>
         

        }

    </div>

}

else
{

    <!--Show 2FA verification form here-->

    
 <div class="loginCard" >
    <h3 style="text-align: center;">@ViewBag.Message</h3>
    <div > <img  style="padding: 15px; margin-left: 150px;" src="@ViewBag.BarcodeImageUrl" /> </div>

    <div> Manual Setup Code : @ViewBag.SetupCode </div>

    <div>

        @using (Html.BeginForm("Verify2FA", "Home",

       FormMethod.Post))

        {

            <input type="text" class="form-control" name="passcode" style="margin-top: 10px;" />

            <input type="submit" class="btn btn-success btn-sm" />

        }
  </div>
    </div>

}
